<div class="row">
  <div class="col-md-2" (click)="onSelect(book.id)">
    <img src="{{book.imagePath}}" title="click for details" alt="" class="image" style="height: 150px;">
  </div>
  <div class="col-md-4">
    <h3> {{book.name}}</h3>
    <h5>{{book.publisher}}</h5>
    <p>Price:{{book.price}} &#8362;</p>
  </div>
  <div class="col-md-6">

    <button type="button" class="btn btn-primary mr-2 " style="border-radius: 4px;" (click)="onAddBook(f)">Add</button>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-danger btn-number btn-sm" data-type="minus" (click)="onMinusClick(f)">
        <!--span class="glyphicon glyphicon-minus"></span-->
        <i class="fas fa-minus"></i>
      </button>

      <input type="text" class="form-control input-number btn-sm" style="max-width: 80px;" (keypress)="onKey($event)"
        value="{{book.numOfItems}}" min="1" max="10" #f>

      <button type="button" class="btn btn-success btn-number btn-sm" data-type="plus" (click)="onPlusClick(f)">
        <i class="fas fa-plus"></i>
        <!--span class="glyphicon glyphicon-plus"></span-->
      </button>

    </div>


    <div>
      <p *ngIf="!success" class="text-left font-italic text-danger">Maximum amount allowed is
        10 books</p>
    </div>
  </div>

</div>
