<div class="container" id="contact" class=" py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h3>Get In Touch</h3>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed nam accusantium aliquid quo
          molestiae. Voluptate provident vitae natus itaque quam. Facere ipsam illum sint voluptates, aut harum
          adipisci veritatis ex quisquam aperiam placeat corrupti est, enim alias error iure illo iusto neque
          ducimus? Facere ducimus similique id ex quam quae qui nesciunt, alias sed ea totam deserunt nihil quia
          dolorem eos fugiat maiores possimus adipisci incidunt illo dolorum. Necessitatibus quam earum veniam
          placeat natus quae repellat voluptatum architecto aliquam in nihil autem, facilis nam magnam ipsa impedit,
          quisquam quas expedita. Alias a dolorum, vero fugit, reprehenderit cumque sapiente ipsa facere odit quod
          aliquam. Fugiat hic temporibus necessitatibus exercitationem porro.
        </p>
        <form action="">
          <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="name">
          </div>

          <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input type="email" class="form-control" placeholder="Email">
          </div>

          <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </div>
            <textarea type="email" class="form-control" placeholder="Message" rows="5"></textarea>
          </div>
          <input type="submit" value="submit" class="btn btn-primary btn-block btn-lg">
        </form>
      </div>
      <div class="col-lg-3 align-self-center">
        <img src="../../images/booksLogo.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
